mixin comments(comment)
  .video__commented-detail
    span.video__commented-left
      img(src="/"+comment.owner.avatarUrl).comment-avatar
      span.comment-user #{comment.owner.name}
      span.comment-date #{comment.createdAt}
    span.video__commented-right
      if String(comment.owner.username) === String(loggedInUser.username)
        //- a(href=`/api/videos/${id}/comment/${comment._id}/edit`)
        //-   i.fas.fa-edit#comment-edit
        i.fas.fa-trash#comment-remove(data-commentId=comment._id, data-videoId=comment.video._id)
  .comment-content #{comment.content}