extends base.pug
include mixins/comments

block content
    if(errorMessage)
        h2 #{errorMessage}

    div#videoContainer(data-id=video._id)
        video(src="/"+video.fileUrl)
        div#videoControls.videoControls
            span#play
                i.fas.fa-paly
            div#timeline
                span#currentTime 00:00
                span  / 
                span#totalTime 00:00
            div
                input(type="range", step="1", value="0", min="0")#timelinebar
            span#mute
                i.fas.fa-volumen-up
            input(type="range",step="0.1", value="0.5", min="0", max="1")#volumen
            div
                span#fullScreen
                    i.fas.fa-expand
    .video__info
        div#video-title #{video.title}
        div.video__owner
            span.video__owner-left
                a(href=`/user/${video.owner._id}`)
                    img(src="/"+video.owner.avatarUrl)#video__owner-avatar
                span.video__owner-info
                    span#video__owner-name #{video.owner.username}
                    span#video__owner-date #{video.createdAt}
            if String(video.owner._id) === String(loggedInUser._id)
                span.video__owner-right
                    a(href=`${video._id}/edit`)
                        i.fas.fa-edit
                    a(href=`${video._id}/delete`)
                        i.fas.fa-trash
        div#description #{video.description}
        //- p=video.hashtags

    
    //- 댓글 구간
    .video__comments
        if loggedIn
            img(src="/"+loggedInUser.avatarUrl)
        form.video__comments-form#commentForm
            if loggedIn
                textarea(placeholder="Leave a comment here!")
            else
                textarea(placeholder="Please log in to comment!")
            button Comment
    .video__commented
        if comments
            each comment in comments.reverse()
                +comments(comment) 

block scripts 
    script(src="/static/js/videoPlayer.js")
    if(loggedIn)
        script(src="/static/js/comment.js")